<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yw.colliery.mapper.unsafe.UnsafeMapper">
    <resultMap id="BaseResultMap" type="com.yw.colliery.entity.unsafe.UnsafeInfoEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="depart_id" property="departId" jdbcType="INTEGER"/>
        <result column="plan_name" property="planName" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="distributed_status" property="distributedStatus" jdbcType="VARCHAR"/>
        <result column="sign_status" property="signStatus" jdbcType="VARCHAR"/>
        <result column="coal_mine" property="coalMine" jdbcType="VARCHAR"/>
        <result column="check_person" property="checkPerson" jdbcType="VARCHAR"/>
        <result column="check_type" property="checkType" jdbcType="VARCHAR"/>
        <result column="check_time" property="checkTime" jdbcType="TIMESTAMP"/>
        <result column="reform_date" property="reformDate" jdbcType="VARCHAR"/>
        <result column="reform_measure" property="reformMeasure" jdbcType="VARCHAR"/>
        <result column="duty_depart" property="dutyDepart" jdbcType="VARCHAR"/>
        <result column="duty_person" property="dutyPerson" jdbcType="VARCHAR"/>
        <result column="fine_reason" property="fineReason" jdbcType="VARCHAR"/>
        <result column="fine_money" property="fineMoney" jdbcType="VARCHAR"/>
        <result column="fine_find" property="fineFind" jdbcType="VARCHAR"/>
        <result column="deal_process" property="dealProcess" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_user" property="modifyUser" jdbcType="VARCHAR"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
        <result column="extra1" property="extra1" jdbcType="VARCHAR"/>
        <result column="extra2" property="extra2" jdbcType="VARCHAR"/>
        <result column="extra3" property="extra3" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
       id,
       depart_id,
       location,
       plan_name,
       content,
       type,
       level,
       distributed_status,
       status,
       sign_status,
       coal_mine,
       check_person,
       check_type,
       check_time,
       reform_date,
       reform_measure,
       duty_depart,
       duty_person,
       fine_reason,
       fine_money,
       fine_find,
       deal_process,
       create_user,
       create_date,
       modify_user,
       modify_date,
       extra1,
       extra2,
       extra3
    </sql>


    <insert id="insertUnsafe" parameterType="com.yw.colliery.entity.unsafe.UnsafeInfoEntity" keyProperty="id">
        insert into colliery_unsafe_info
          (
           location,
           content, 
           type,
           level, 
           status, 
           coal_mine,
           check_person,
           check_type,
           check_time,
           reform_date,
           reform_measure,
           duty_depart,
           duty_person,
           fine_reason,
           fine_money,
           fine_find,
           deal_process,
           strat_depart_id,
           distributed_status,
           plan_name,
           sign_status,
           create_user,
           create_date,
           extra1,
           extra2,
           extra3
           )
        values
          (
           #{location,jdbcType=VARCHAR},
           #{content,jdbcType=VARCHAR},
           #{type,jdbcType=VARCHAR},
           #{level,jdbcType=VARCHAR},
           #{status,jdbcType=VARCHAR},
           #{coalMine,jdbcType=VARCHAR},
           #{checkPerson,jdbcType=VARCHAR},
           #{checkType,jdbcType=VARCHAR},
           #{checkTime,jdbcType=TIMESTAMP},
           #{reformDate,jdbcType=VARCHAR},
           #{reformMeasure,jdbcType=VARCHAR},
           #{dutyDepart,jdbcType=VARCHAR},
           #{dutyPerson,jdbcType=VARCHAR},
           #{fineReason,jdbcType=VARCHAR},
           #{fineMoney,jdbcType=VARCHAR},
           #{fineFind,jdbcType=VARCHAR},
           #{dealProcess,jdbcType=VARCHAR},
           #{startDepartId,jdbcType=INTEGER},
           #{distributedStatus,jdbcType=VARCHAR},
           #{planName,jdbcType=VARCHAR},
           #{signStatus,jdbcType=VARCHAR},
           #{createUser,jdbcType=VARCHAR},
           #{createDate,jdbcType=TIMESTAMP},
           #{extra1,jdbcType=VARCHAR},
           #{extra2,jdbcType=VARCHAR},
           #{extra3,jdbcType=VARCHAR}
           )
    </insert>

    <update id="updateUnsafeInfo" parameterType="com.yw.colliery.entity.unsafe.UnsafeInfoEntity">
        update colliery_unsafe_info
        <set>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="dutyDepart != null">
                duty_depart= #{dutyDepart,jdbcType=VARCHAR},
            </if>
            <if test="distributedStatus != null">
                distributed_status = #{distributedStatus,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="planName != null">
                plan_name = #{planName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="checkTime != null">
                check_time = #{checkTime,jdbcType=VARCHAR},
            </if>
            <if test="coalMine != null">
                coal_mine = #{coalMine,jdbcType=VARCHAR},
            </if>
            <if test="checkPerson != null">
                check_person = #{checkPerson,jdbcType=VARCHAR},
            </if>
            <if test="checkType != null">
                check_type = #{checkType,jdbcType=VARCHAR},
            </if>
            <if test="reformMeasure != null">
                reform_measure = #{reformMeasure,jdbcType=VARCHAR},
            </if>
            <if test="dutyDepart != null">
                duty_depart = #{dutyDepart,jdbcType=VARCHAR},
            </if>
            <if test="dutyPerson != null">
                duty_person = #{dutyPerson,jdbcType=VARCHAR},
            </if>
            <if test="fineReason != null">
                fine_reason = #{fineReason,jdbcType=VARCHAR},
            </if>
            <if test="fineMoney != null">
                fine_money = #{fineMoney,jdbcType=VARCHAR},
            </if>
            <if test="fineFind != null">
                fine_find = #{fineFind,jdbcType=VARCHAR},
            </if>
            <if test="dealProcess != null">
                deal_process = #{dealProcess,jdbcType=VARCHAR},
            </if>
            <if test="reformDate != null">
                reform_date = #{reformDate,jdbcType=VARCHAR},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="signStatus != null">
                sign_status = #{signStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectUnsafeInfoByDepartList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from colliery_unsafe_info
        WHERE
        depart_id = #{depart}
        AND
        (status = 0 or status = 2)
    </select>

    <select id="selectAllUnsafeInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from colliery_unsafe_info
        WHERE
        (status = 0 or status = 2)
    </select>

    <select id="selectAllUnsafeInfoByStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from colliery_unsafe_info
        WHERE
        status = #{status}
    </select>

    <select id="selectByUnsafeInfo" resultMap="BaseResultMap" parameterType="com.yw.colliery.entity.unsafe.UnsafeInfoEntity">
        select
        <include refid="Base_Column_List"/>
        from colliery_unsafe_info
        WHERE
        1=1
        <if test="id!=null">
           AND id = #{id}
        </if>
        <if test="startCheckDate!=null">
            AND check_date &gt; #{startCheckDate}
        </if>
        <if test="endCheckDate!=null">
            AND check_date &lt; #{endCheckDate}
        </if>
        <if test="status!=null">
            AND status = #{status}
        </if>
        <if test="level!=null">
            AND level = #{level}
        </if>
        <if test="dutyDepart!=null">
            AND duty_depart = #{dutyDepart}
        </if>
        <if test="checkType!=null">
            AND check_type = #{checkType}
        </if>
        <if test="checkPerson!=null">
            AND check_person = #{checkPerson}
        </if>
        <if test="departId!=null">
            AND depart_id = #{departId}
        </if>
        <if test="planName!=null">
            AND plan_name = #{planName}
        </if>
        <if test="distributedStatus!=null">
            AND distributed_status = #{distributedStatus}
        </if>
        <if test="coalMine!=null">
            AND coal_mine = #{coalMine}
        </if>
        <if test="reformDate!=null">
            AND reform_date = #{reformDate}
        </if>
        <if test="dutyPerson!=null">
            AND duty_person = #{dutyPerson}
        </if>
        <if test="startDepartId!=null">
            AND strat_depart_id = #{startDepartId}
        </if>
        <if test="signStatus!=null">
            AND sign_status = #{signStatus}
        </if>
        <if test="orderName !=null">
            ORDER BY ${orderName} ${order}
        </if>
    </select>

    <delete id="deleteById" parameterType="java.util.List">
        DELETE FROM
        colliery_unsafe_info
        WHERE
        id
        in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>


</mapper>
