<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DdxxScsgMapper">
	<select id="myCount" resultType="java.util.Map">
		SELECT b.sgjb,count(b.id) AS shuliang
		FROM 
			(
				SELECT
					a.sgjb,a.id
				FROM
					ddxx_scsg a
				<!-- 条件由调用时包装器生成 -->
				${ew.customSqlSegment}
			) b
		GROUP BY b.sgjb
	</select>
</mapper>
