<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yw.colliery.mapper.productmanager.EntryCollieryMapper">

    <resultMap id="BaseResultMap" type="com.yw.colliery.entity.productmanager.EntryCollieryEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="shift" property="shift" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="TIMESTAMP"/>
        <result column="mine_people" property="minePeople" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="VARCHAR"/>
        <result column="route" property="route" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        date,
        mine_people,
        shift,
        location,
        route,
        remark
    </sql>


    <insert id="insertEntryColliery" parameterType="com.yw.colliery.entity.productmanager.EntryCollieryEntity" keyProperty="id">
        insert into colliery_entry_dispatcher
          (
            date,
            mine_people,
            shift,
            location,
            route,
            remark
           )
        values
          (
           #{date,jdbcType=TIMESTAMP},
           #{minePeople,jdbcType=VARCHAR},
           #{shift,jdbcType=VARCHAR},
           #{location,jdbcType=VARCHAR},
           #{route,jdbcType=VARCHAR},
           #{remark,jdbcType=VARCHAR}
           )
    </insert>

    <update id="updateEntryColliery" parameterType="com.yw.colliery.entity.productmanager.EntryCollieryEntity">
        update colliery_entry_dispatcher
        <set>
            <if test="shift != null">
                shift = #{shift,jdbcType=VARCHAR},
            </if>
            <if test="minePeople != null">
                mine_people= #{minePeople,jdbcType=INTEGER},
            </if>
            <if test="location != null">
                location= #{location,jdbcType=VARCHAR},
            </if>
            <if test="route != null">
                route= #{route,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date= #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>


    <select id="selectByEntryColliery" resultMap="BaseResultMap" parameterType="com.yw.colliery.entity.productmanager.EntryCollieryEntity">
        SELECT
        <include refid="Base_Column_List"/>
        from colliery_entry_dispatcher
        WHERE
        1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="shift != null">
            AND shift = #{shift}
        </if>
        <if test="minePeople != null">
            AND mine_people= #{minePeople}
        </if>
        <if test="location != null">
            AND location= #{location}
        </if>
        <if test="route != null">
            AND route= #{route}
        </if>
        <if test="date != null">
            AND date= #{date}
        </if>
        <if test="remark != null">
            AND remark = #{remark}
        </if>
        <if test="orderName !=null">
            ORDER BY ${orderName} ${order}
        </if>
    </select>

    <delete id="deleteById" parameterType="java.util.List">
        DELETE FROM
        colliery_entry_dispatcher
        WHERE
        id
        in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>


</mapper>
